body {
    font-family: 'Titillium Web', sans-serif !important;
    transition: all 0.1s ease-out;
}


.hider {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: block;
    text-align: center;
    line-height: 100vh;
    position: fixed;
    z-index: 10000;
}

.hiderMenu {
    max-height: 500px;
    width: 100%;
    background-color: white;
    display: block;
    text-align: center;
    line-height: 500px;
    z-index: 999;
}

.hide {
    display: none;
}

.page-footer {
    background: #E4E4E4;
}

.spinny-boi {
   vertical-align: middle;
   font-weight: 1 !important;
   font-family: -apple-system,BlinkMacSystemFont,"Titillium Web","Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

#uglyTitle {
    margin: 10px 0;
    font-weight: 4;
    font-size: 2.3rem;
    font-family: 'Titillium Web';
    display: inline-block;
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
}

.bootstrap-select {
    float: right !important;
    margin: 10px 0;
    width: 70px !important;
}

#dark-mode-toggle {
    padding: 0.5em 0.35em;
    border: 0px;
    margin-right: 0px;
    outline: none !important;
    box-shadow: none !important;
}

#filter-pillboi {
    margin: 0.4rem 0;
}

#weekday {
    font-size: 1.5rem;
    color: rgb(114, 116, 119);
}

#button-previous {
    margin-left: 10px;
    outline: none !important;
    box-shadow: none !important;
}

#button-next {
    margin-right: 10px;
    outline: none !important;
    box-shadow: none !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
    background-color: #E4E4E4;
    color: #8B8B8B;
}

.disabled:hover {
    pointer-events: none;
    cursor: default;
    background-color: #E4E4E4;
    color: #8B8B8B;
}

.btn {
    margin: 0 10px 0 0; 
}

.datePickerInput {
    max-width: 80px;
    outline: none !important;
    box-shadow: none !important;
}

.tagCheckboxImg {
    width: 20px;
    height: 20px;
    margin-bottom: 1px;
}

.categoryHeader {
    padding: 0.6rem 0 0 12px !important;
}

.table td, .table th {
    border-top: 0;
}

.table thead th {
    border-bottom: 0;
}

.dish-content {
    border-bottom: 1px solid #dee2e6;
}

.dish-content:last-child {
    border-bottom: 0px;
}

.card-allergens {
    border: none;
    padding: 0;
}

input[type='checkbox'] {
    margin: 0.4em 0 0 0;
}

.sups-label, .tags-label {
    margin-left: 1.25rem;
}

.datePickerFilterDiv {
    margin-bottom: 5px;
}

.sups-cardboi {
    background-color: rgb(255, 238, 238);
}

.allergens-cardboi {
    background-color: rgb(214, 238, 212);
}

.modal-header {
    border-bottom: none;
    padding: 0;
    margin: 10px 1rem 0 1rem;
}

.modal-body {
    padding: 0;
    margin: 0px 1rem 10px 1rem;
}

.modal-footer {
    border-top: none;
}

.badge-reset {
    background-color: #ebebeb;
}

.badge-red {
    background-color: #E57373;
    color: black;
}

.badge-darkgrey {
    background-color: #E0E0E0;
    color: black;
}

.badge-green {
    background-color: #9CCC65;
    color: black;
}

.form-control[readonly] {
    background-color: #FFF;
}

/* Fix cards for ios -.- */
.card {
    cursor: pointer;
}

#chooseMensa {
    cursor: pointer;
}

.tooltip-inner {
    background-color: #212121;
}


/*BEGIN: Dark mode options*/
.body-darkmode {
    background-color: #000000;
    transition: all 0.1s ease-out;
    color: #bababa;
}

.menu-table-header-darkmode {
    background-color: #191919;
}

.table-darkmode {
    color: #bababa;
}

.dish-content-darkmode {
    border-color: #242424 ;
}

.page-footer-darkmode {
    background: #4b4b4b;
}

.modal-content-darkmode {
    background-color: #212121;
}

.hider-darkmode {
    background-color: #000000;
}

.hiderMenu-darkmode {
    background-color: #000000;
}

.dropdown-menu-darkmode {
    background-color: #000000;
    color: #bababa !important;
}

.dropdown-item-darkmode {
    color: #bababa;
}

.dropdown-item-darkmode:hover {
    background-color: #212121;
    color: #bababa;
}

.card-dark-mode {
    background-color: #191919;
}

.allergens-cardboi-darkmode {
    background-color: rgb(42, 72, 7);
}

.sups-cardboi-darkmode {
    background-color: rgb(132, 44, 44);
}

.navigation-button-darkmode {
    background-color: #343a40;
    border-color: #4b4b4b;
    color: #78b9ff;
}

.navigation-button-darkmode:hover {
    background-color: #212121;
    border-color: #4b4b4b;
    color: #78b9ff;
}

.datePickerInput-darkmode {
    background-color: #343a40 !important;
    border-color: #4b4b3b;
    color: lightgray;
}

.datePickerInput-darkmode:focus {
    color: #78b9ff;
}

.input-group-text-darkmode {
    color: #ffffff;
    background-color: #343a40;
    border-color: #4b4b4b;
}
/*END: Dark mode options*/

@media (max-width: 720px) {
    .btn-primary, .btn-secondary {
        font-size: 0.95rem;
    }
    thead {
        font-size: 0.95rem;
    }
    tbody {
        font-size: 0.85rem;
    }
    .footer-copyright {
        font-size: 0.75rem;
    }
}

@media (max-width: 420px) {
    #uglyTitle {
        font-size: 1.50rem;
    }
    #weekday {
        font-size: 0.95rem;
    }
    .btn-primary, .btn-secondary {
        font-size: 0.90rem;
    }
    thead {
        font-size: 0.85rem;
    }
    tbody {
        font-size: 0.75rem;
    }
    .footer-copyright {
        font-size: 0.70rem;
    }
}

@media (max-width: 350px) {
    #uglyTitle {
        font-size: 1.50rem;
    }
    #weekday {
        font-size: 0.95rem;
    }
    .btn-primary, .btn-secondary {
        font-size: 0.90rem;
    }
    thead {
        font-size: 0.85rem;
    }
    tbody {
        font-size: 0.75rem;
    }
    .footer-copyright {
        font-size: 0.70rem;
    }
}